<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenavMenu>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenavMenu.close()">Dashboard </a>
      <a mat-list-item routerLink="/messages" (click)="sidenavMenu.close()">Messages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenavMenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>{{title}}</h1>
      <span class="toolbar-filler"></span>
      <a mat-flat-button color="accent" (click)="authService.login()" *ngIf="!authService.isAuthenticated()">Login</a>
      <span *ngIf="authService.isAuthenticated() && authService.id_token">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>person</mat-icon>
        </button>
      </span>
      <a mat-flat-button color="accent" (click)="authService.logout()" *ngIf="authService.isAuthenticated()">Logout</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>