<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" #sidenavMenu>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenavMenu.close()">Dashboard </a>
      <a mat-list-item routerLink="/messages" (click)="sidenavMenu.close()">Messages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenavMenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>