<div class="card" *ngIf="message">
  <div class="card-block">
    <div class="card-title">
      <clr-icon [attr.shape]="getMessageStatusIcon(message.message_state)" [class]="getMessageStatusColour(message.message_state)"></clr-icon>&nbsp;
      <span *ngIf="contact">{{contact.first_name}} {{contact.surname}}</span>
      <h5>{{message.sent_time | date:"dd LLL yy, HH:mm:ss"}}</h5>
    </div>
    <div class="card-text">
      <p>
        {{message.body}}
      </p>
    </div>
    <div class="card-footer">
      <button class="btn btn-link">Reply</button>
    </div>
  </div>
</div>